.hide{display:none;}
.show{display:block;}

.sign_in_with_google_box{padding:1em 0;}
a, .button, [type=button]{cursor:pointer;}

#app{height:100%;}

.loading{position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; z-index:10000; text-align:center;}
.loading img{height:50px; position: relative; top:48%;}

.swal2-title, .swal-title{text-transform:capitalize!important;}

.required{color:#d00;}
.btn-primary, .btn-danger, .btn-info, .btn-success{color:#fff!important;}

.modal-dialog.modal-lg{max-width:100%; width:80%;}
form .row{margin-bottom:5px;}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus{background:#0064bc; color:#fff;}

textarea.form-control{min-height:120px;}
.dd .dd-item a{color:#fff!important;}


/*Pagination*/
.dataTables_paginate a{padding:.5em; background:#f7f7f7; color:#222;}
.dataTables_paginate a:hover{background:#30A5FF; color:#fff;}
.dataTables_paginate span a.current, .dataTables_paginate span a.current:hover{font-weight:bold; background:#1186E0; color:#fff;}
.dataTables_paginate .previous, .dataTables_paginate .next{background:#eee;}
.dataTables_paginate .previous{border-radius:5px 0 0 5px;}
.dataTables_paginate .next{border-radius:0 5px 5px 0;}

.btn-warning, .btn-warning:focus{color:#fff!important;}

.modal .content{padding-left:0!important;}


/*Custom Comment*/
.main-comment{margin:1em; border:1px solid #ccc; padding:1em; position:relative;}
.main-comment .sub-comment{margin-left:2em; margin-top:.5em; padding:.5em 1em; border:1px solid #ccc; background:#fff;}


.comment-hidden{background:#FACBC5!important;}
.comment-approve{background:#E6FFB5!important;}


/* Datatable Font*/
label{cursor:pointer;}
.main-label{font-family:'Montserrat', sans-serif; text-transform:uppercase; font-weight:bold;}
.sub-route td{padding-left:3em;}
.ctrl-label{padding:.15em 1em; background:#bbb; color:#fff; border-radius:10px;}
.ctrl-label.active{background:#7DBD48;}

.top-comment-holder{position:absolute; top:0; right:0; padding:1em; }

#cropper-container {margin:0px auto;}
#cropper-container>img{max-width:100%!important;}

@media (max-width:543px){
  #cropper-container{max-height:50%; width:70%;}
}


.cropper-trigger{background:#007be8; border-color:#007be8; color:#fff; padding:.5em 1em;}
.cropper-trigger input{display:none;}

.cropper-holder .file-holder, .cropper-holder-pdf .file-holder{
    position:relative;
    background: #007be8;
    display: inline-block;
    border-radius: 20px;
    font-weight: bold;
    padding: .25em 1em;
    float:left;
    margin-right:1em;
}
.cropper-holder .close-button, .cropper-holder-pdf .close-button{border-radius:50%; -moz-border-radius:50%; background:#d00; color:#fff; padding:0 .3em; cursor:pointer; position:absolute; top:-2px; right:-2px;} 

.cropper-holder .image-holder{
  position:relative;
  text-align:center;
  font-weight:bold;
  background:#007be8;
  display:inline-block;
  padding:.25em 1em;
  border-radius:.25em;
}

#modalForm{overflow:scroll!important;}
.modal .close{z-index:2;}


.multi-image-holder{padding:1em 0;}
.multi-image-holder .img-item{display:inline-block; max-width:100px; position:relative; margin-right:.5em;}
.multi-image-holder .img-item img{width:100%;}
.multi-image-holder .img-item label{text-align:center; font-size:smaller; display:block; overflow:hidden;}
.multi-image-holder .img-item .remove{position:absolute; top:0; right:0; background:#d00; padding:0 .25em; color:#fff; cursor:pointer;}